

<h1>Welcome to  One Month Rails!</h1>
<p>
	You've found the home page for the
	<%= link_to "DailyDoseofPras", "http://www.DailyDoseofPras.com" %>
	test site.
</p>
<p>
	<%= link_to "Sign Up Now", "#" %>

</p>

